#root {
  width: 100%;
  margin: 0px;
  margin-top: 0.2px;
  height: 80vh;
}
.Main_wrap {
  display: flex;
  justify-content: center;
}

.logo {
  width: 150px; /* Adjust width as needed */
  height: auto;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* styles.css */
hr {
  height: 1px; /* h-px */
  margin: 0; /* my-8 (8 * 4px, as Tailwind's spacing is based on a scale of 4) */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  border: none; /* border-0 */
}
